<h3 *ngIf="videoInfo && videoInfo.error" class="loadError">Error loading video</h3>
<div *ngIf="videoInfo && !videoInfo.error">
    <!--<h3 id="vidTitle">{{videoInfo.title}}</h3> Moved to top-bar.component-->
    <div class="upperContainer">
        <div class="ytContainer">
            <iframe id="ytplayer" type="text/html" width="720" height="405"
            [src]="videoUrl" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <app-tag-list [tags]="videoInfo.tags" class="vidTagList"></app-tag-list>
</div>