<div id="aboutContainer">
    <h1>University-Grade Education For All.</h1>
    <ul>
        <li>In an unprecedented move, universities across the globe are hosting thousands of virtual lectures each week.</li>
        <li>Wouldn't it be great if we could preserve and share this knowledge?</li>
        <li>These lectures are already recorded in digital formats, so it's just a few steps to make them accessible to the world.</li>
        <li>Collecture aims to <i>collect</i> these lectures in one place, tagging and organizing them so anyone can search and find exactly what they need.</li>
    </ul>
    <mat-divider></mat-divider><br/>
    <h1>Get Involved</h1>
        <ul>
            <li>If you are a lecturer willing to provide your material for this cause, please get in contact <a href="mailto:d.xu@columbia.edu?Subject=Collecture">(d.xu @ columbia.edu)</a>.</li>
            <li>
                If you would like to make a donation:
                <form style="display: inline-block; transform: translate(0, 0.285rem); margin-top: -0.285rem;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="W7PWNMNBQC9P6" />
                    <input type="hidden" name="item_name" value="Collecture" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>                    
            </li>
            <li>If you know any friends or educators who would be interested, kindly send them a link.
                <!-- AddToAny BEGIN -->
                <div class="shareContainer">
                <a class="shareButton" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/facebook.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/email?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/email.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/linkedin.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/facebook_messenger?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/facebook_messenger.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/skype?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/skype.svg" width="32" height="32" style="background-color:royalblue"></a>
                <a class="shareButton" href="https://www.addtoany.com/add_to/wechat?linkurl=https%3A%2F%2Fcollecture.org%2F&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/wechat.svg" width="32" height="32" style="background-color:royalblue"></a>
                </div>
                <!-- AddToAny END -->  
            </li>
        </ul> 
</div>