.vidTag {
    background-color: rgb(245, 245, 245);
    padding: 0.3vmin;
    border-radius: 0.5vmin;
    display: inline-block;
    margin: 3px;
    font-size: 1rem;
    line-height: 120%;
}

.vidTagList {
    white-space: nowrap;
    overflow-x: auto;
}