.vidTag {
    background-color: cornflowerblue;
    padding: 0.3vmin;
    border-radius: 0.75vmin;
    display: inline-block;
    margin: 3px;
    font-size: 1rem;
    line-height: 180%;
}

.vidTagList {
    white-space: nowrap;
    overflow-x: auto;
}