#topBar {
    position: sticky;
    top: 0;
    z-index: 500;
}

#appTitle {
    font-size: 2rem;
}

#leftRightSpacer {
    flex: 1 1 auto;
}

.barLink {
    color: #464646;
    cursor: pointer;
    padding: 1rem;
}

.barLink:hover {
    color: #707070;
}