#topBar {
    position: sticky;
    top: 0;
    z-index: 500;
}

#appTitle {
    font-size: 2rem;
    padding: 1rem;
    color: #464646;
    cursor: pointer;
}

#appTitle:hover {
    color: #707070;
}