<div class="grid-container" id="gridBox">
  <mat-grid-list [cols]="numCols" [rowHeight]="rowHeight">
    <ng-container *ngFor="let card of lectCards | async | reverse; let idx = index; let len = count">
      <mat-grid-tile *ngIf="shouldShow(card.title, card.tags)" [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" routerLink="viewLecture/{{len - idx - 1}}">
          <mat-card-header #titleContainer>
            <mat-card-title class="titleText">
              <p class="titleText">{{card.title}}</p>
              <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>-->
            </mat-card-title>
          </mat-card-header>
          <div class="imageContainer">
            <div>
              <img mat-card-image class="vidImage" [src]="'https://img.youtube.com/vi/' + card.ytId + '/0.jpg'" alt="Video Image"/>
            </div>
          </div>
          <mat-card-footer class="dashboard-card-content">
            <app-tag-list [tags]="card.tags"></app-tag-list>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>